

/* 1160 */


@media screen and (min-width:1160px){
    article>div{
        width: 1160px;        
    }
    header>div{
        width: 1160px;
    }

    #box01>ul{
        width: 1160px;
    }

}

@media screen and (min-width:980px) and (max-width:1159px) {

    #box01>ul{
        width: 100%;
        margin-left: -50%;
    }

    
}


/*///////////////태블릿/////////////*/
@media screen and (min-width:580px) and (max-width:979px) {

/*   */


article h3{
    font-family: 'Raleway', sans-serif;
    font-size: 53px;
    margin-bottom: 32px;
}



    header{
     padding: 28px 0;
    }
    header>div{
        width: 100%;
        display: block;
    }
    

    header>div>h1{
        text-align: center;
    }


    header>div>h1>a{
        font-size: 35px;
    }

    header>p.btn{
    display: flex;
    }

    nav{
        position: fixed;
        left: -400px;
        top: 0;
        width: 400px;
        height: 100%;
        background-color:rgba(21, 2, 23,0.75);
        padding-top: 25vh;
        box-sizing: border-box;
    }




    nav>ul{
        width: 80%;
        margin: 0 auto;
        border-top: 1px solid #fff;
    }


    header>div>nav>ul>li{
        margin-left: 0;
        display: block;
        border-bottom: 1px solid #fff;
        text-align: center;
    }

    header>div>nav>ul>li>a{
        line-height: 12.5vh;
    }

    nav .close{
        display: block;
    }

    

    #box01{
background-size: auto 100%;
    }
    


    #box01>h3{
        font-size: 65px;
        top: 23.31vh;
    }


    #box01>ul{
        width: /* 1160px; */100%;
        left: 0%;
        margin-left: 0;
        bottom: 9.99vh;
    }
    

    #box01>ul>li{
        width: 33.33333vw;
    }
    

    #box01>ul>li>span{
        width: 26.64vw;
        height: 26.64vw;
    }

    #box01>ul>li>dl{
        width: 26.64vw;
    }

/* box02 */
#box02 section.info{
    margin-bottom:100px;
    display: block;
}


#box02 section.info>h4{
    width: /* 317px; */33.33333vw;
    padding-left: 0;
    margin: 0 auto 25px;
}


#box02 section.info>ul{
    /* width: 732px;  */
    width:  59.994vw;
    margin: 0 auto;
}

#box02 section.info>ul>li{
    padding-left: 0;
    position: static;
    display: flex;
    flex-wrap: wrap;
}

#box02 section.info>ul>li>dfn{
    width: 16.65vw;
    position: static;
}

#box02 section.info>ul>li>span{
    width: 43.344vw;
 
}



#box02 section.skill{
    display: block;
}


#box02 section.skill>h4{
display: none;
}

#box02 section.skill>ul{
    width: /* 630px; */ 79.92vw;
    margin-bottom:0;
    margin: 0 auto;
}

#box02 section.skill>ul>li{
}



#box02 section.skill>ul>li>dfn{
    width: 148px;
}

/* box03 */

#box03{
    padding-bottom: 70px;
 }   




#box03>div#gallery{
    width: 100%;
    position: relative;
}


#box03>div#gallery>p{
    display: block;
    }


#box03>div#gallery>#show{
    width: 73.26vw;
    margin: 0 auto;
    overflow:hidden
}

/* all */
#box03>div#gallery>#show>#all{
width: 219.78vw;
}


#box03>div#gallery>#show>#all>figure{
    width: 36.63vw;
    margin-bottom: 0px;
}

#box03>div#gallery>#show>#all>figure>img{
    width: 29.9vw;
}


#submenu{
    display: none;
}

#top{
    display: none;
}


/* box04 */

#box04>div>form{
    padding-right: 0;
    width: 93.24vw;
    margin: 0 auto;
}



#box04>div>form>fieldset>ul>li>label{
    background:none;
    padding-left: 0;
}

#box04>div>form>fieldset>ul>li:nth-child(2)>label{
    background-image: none;
}
#box04>div>form>fieldset>ul>li:nth-child(3)>label{
    background-image: none;

}
#box04>div>form>fieldset>ul>li:nth-child(4)>label{
    background-image:none;

}


#box04>div>form>fieldset>p>input{
    width: 100%;
    border-radius: 0px;
}



}


/*////////////모바일///////////////////*/

@media screen and (max-width:579px) {

    /* 공통부분 */
    article{
        padding: 50px 0;
    }
    



    article>div{
        width: /* 1160px; */ 90vw;
    }
    

    article h3{
        font-size: 32px;
        text-align: left;
        margin-bottom: 28px;
    }
   
    header{
        background-color: rgba(22,6,24,0.9);

    }
    
    header>div{
        width: /* 1160px; */ 90vw;
        display:block;
    }
    
    header>div>h1{
        text-align: center;
    }
    
    
/* nav */

nav{
position: fixed;
left: -100%; top: 0;
width: 100%;
height: 100%;
background-color: rgba(21, 2, 23,0.75);
z-index: 1100;
padding-top: 25vh;
box-sizing: border-box;
}

nav>ul{
width: 70vw;
margin: 0 auto;
border-top: 1px solid white;
}

header>div>nav>ul>li{
    margin-left:0;
    display:block;
    border-bottom: 1px solid white;
    text-align: center;    
}
    
    header>div>nav>ul>li>a{
        line-height: 12.5vh;
        display: block;
    }
    
    nav .close{
        display: block;
    }
    
    header>p.btn{
        display: flex;
    }
    
 


    /* box01 */
    #box01{
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: auto 100%;
    }
    
    #box01>h3{
        position: static;
        margin-bottom: 0px;
        font-size: 56px;
        padding: 0 20px;
        box-sizing: border-box;
    }
    
    #box01>ul{
display: none; }
    
    #submenu{
    display: none;
    }
    
    #top{
        display: none;
    }



/* box02 */
#box02 section.info{
    margin-bottom:30px;
    display: block;
}


#box02 section.info>h4{
    width: /* 317px; */ 40vw;
    padding-left: /* 30px; */0;
    margin: 0 auto 30px;
}


#box02 section.info>ul{
    /* width: 732px;  */
    width:  /* 63.1034482%; */ 80vw;
    margin: 0 auto;
}

#box02 section.info>ul>li{
    /* padding-left: 105px; */
    padding-left: 0;
    position: static;
}

#box02 section.info>ul>li>dfn{
  width: auto;
  position: static;
  font-weight: bold;

}

#box02 section.info>ul>li>span{
    margin-bottom: 20px;
    padding-left: 5vw;
}



/* skill */

#box02 section.skill{
    display: block;
}


#box02 section.skill>h4{
display:none;}

#box02 section.skill>ul{
    width: /* 630px; */ 80vw;
    margin-bottom: 0;
    margin: 0 auto;
}

#box02 section.skill>ul>li{
}

#box02 section.skill>ul>li:last-child{
}

#box02 section.skill>ul>li>dfn{
}

#box02 section.skill>ul>li>span{

}

/* box03 */
#box03{
    padding-bottom: 50px;

}





#box03>h3{
    width: 90vw;
    margin: 0 auto 28px;
    
}



#box03>ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 66px;
}


#box03>ul>li{
    padding: 10px 0px;
    border: 1px solid #333;
    text-align: center;
}




#box03>div#gallery{
    width: 100%;
    position: relative;
}



#box03>div#gallery>p.prev{
    display: block;
}
#box03>div#gallery>p.next{
    display: block;
    top: 30vw;
}

#box03>div#gallery>#show{
width: 60vw;
margin: 0 auto;
overflow: hidden;
}

#box03>div#gallery>#show>#all{
    width: 360vw;
}

#box03>div#gallery>#show>#all>figure{
    width: 60vw;
}

#box03>div#gallery>#show>#all>figure>img{
    width: 100%;
    border-radius: 0;
}




/* box04 */
/* form */
#box04>div>form{
    width: 80vw;
    margin: 0 auto;
    padding-right: 0;
}

form>fieldset{}

form ul{}

form ul>li{
    margin-bottom: 34px;
    position:relative;
    padding-left: 0;
}

#box04>div>form>fieldset>ul>li>label{
    color: red;
    padding-left: 30px;
    background-image: none;
}


#box04>div>form>fieldset>ul>li:nth-child(2)>label{
background-image: none;
}
#box04>div>form>fieldset>ul>li:nth-child(3)>label{
background-image: none;
}
#box04>div>form>fieldset>ul>li:nth-child(4)>label{
background-image: none;
}

#box04>div>form>fieldset>p>input{
    width: 100%;
    border-radius: 0px;
}
    




/*  */
}


/* modal */

@media screen and (max-width:980px){


#modal{
    display: none;
    position: fixed;
    padding: 6.66vh 5vw 3.33vh;
    box-sizing: border-box;
}



#modal>.close{
    position: absolute;
    width: 5vw; height: 5vw;
    right: 2.5vw; top: 1.665vh;
    background-color: red;
}

#modal>section{
    position: static;
    width: auto;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
    margin: 0;
    height: 100%;
}

#modal>section>h4{
    font-size:6.66vh;
    line-height: 1;
    margin-bottom: 3.33vh;
}

#modal>section>div{
    display: block;
}

#modal>section>div>figure{
    height: 43.29vh;
    width: auto;
    overflow: hidden;
    margin-bottom: 3.333vh;
}

#modal>section>div>figure>figcaption{
    display: none;
}


#modal>section>div>dl{
    position: absolute;
width: 80vw;
bottom: 6.66vh;
left: 10vw;
}


#modal>section>div>dl>dt{
    clear: none;
    float: none;
    width: auto;
    font-size: 1.5vh;
    margin-bottom: 1.83vh;
    font-weight: bold;
}

#modal>section>div>dl>dd{
    float: none;
    width: auto;
    border-bottom: 1px solid #aaa;
    font-size: 1.665vh;
    padding-bottom: 5px;
    margin-bottom: 5px;
    /* padding-bottom: 1.665vh;
    margin-bottom: 1.665vh; */
}




}






